<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trout Stop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body>
  



<style>
    body{
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
</style>

<div class="container-fluid">

    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #<%=orderData._id%></h2>
      </div>
    
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="me-3"><%=orderData.orderedAt%></span>
                  <!-- <span class="me-3">#16123222</span> -->
                  <!-- <span class="me-3">Visa -1234</span> -->
                  <% if ( orderData.status == 'CANCELLED') { %>
                  <span class="badge rounded-pill bg-danger"><%=orderData.status%></span>
                  <% } else { %>
                  <span class="badge rounded-pill bg-success"><%=orderData.status%></span>
                  <% } %>
                </div>
                <div class="d-flex">
                  <% if ( orderData.status !== 'CANCELLED') { %>
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text"><a href="/cancelorder?id=<%=orderData._id%>">Cancel</a></span></button>
                  <% }else if(orderData.status == 'DELIVERED') {%>
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text"><a href="/cancelorder?id=<%=orderData._id%>">return</a></span></button>
                  <% } else { %>
                    
                    <% } %>
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>
                 
                    <% for(let x of orderData.products.item){ %>
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <!-- <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="" width="35" class="img-fluid"> -->
                          <img src="uploads/<%=x.productId.images[0]%>" alt="" width="35" class="img-fluid">

                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset"><%=x.productId.name%></a></h6>
                          <span class="small">Color: Black</span>
                        </div>
                      </div>
                    </td>
                    <td>x</td>

                    <td><%=x.qty%></td>
                    <td class="text-end">₹ <%=x.price%></td>
                  </tr>
                  <% } %>

                  <!-- <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and Bluetooth Support</a></h6>
                          <span class="small">Color: White</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">$79.99</td>
                  </tr> -->
                </tbody>
                <tfoot>
                  <!-- <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">$159,98</td>
                  </tr>
                  <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">$20.00</td>
                  </tr>
                  <tr>
                    <td colspan="2">Discount (Code: NEWYEAR)</td>
                    <td class="text-danger text-end">-$10.00</td>
                  </tr> -->
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td ></td>
                    <td class="text-end">₹ <%=orderData.products.totalPrice%></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Payment Method</h3>
                  <p><%=orderData.payment%><br>
                  <!-- Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span></p> -->
                  Total:₹ <%=orderData.products.totalPrice%> <span class="badge bg-success rounded-pill"> TO BE PAID</span></p>

                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Billing address</h3>
                  <address>
                    <strong><%=orderData.addressId.firstname%> <%=orderData.addressId.lastname%></strong><br>
                <%=orderData.addressId.housename%><br>
                <%=orderData.addressId.locality%><br>
                <%=orderData.addressId.landmark%><br>
                <%=orderData.addressId.city%><br>
                <%=orderData.addressId.state%>- <%=orderData.addressId.pincode%><br>
                <abbr title="Phone">Ph:</abbr> <%=orderData.addressId.mobile%>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Customer Notes</h3>
              <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
            </div>
          </div>
          <div class="card mb-4">
            <!-- Shipping information -->
            <div class="card-body">
              <h3 class="h6">Shipping Information</h3>
              <strong>FedEx</strong>
              <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
              <hr>
              <h3 class="h6">Address</h3>
              <address>
                <strong><%=orderData.addressId.firstname%> <%=orderData.addressId.lastname%></strong><br>
                <%=orderData.addressId.housename%><br>
                <%=orderData.addressId.locality%><br>
                <%=orderData.addressId.landmark%><br>
                <%=orderData.addressId.city%><br>
                <%=orderData.addressId.state%>- <%=orderData.addressId.pincode%><br>
                <abbr title="Phone">Ph:</abbr> <%=orderData.addressId.mobile%>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
    </html>
