<%- include('../layouts/header.ejs')%>




  <div class="site-wrap">
    <header class="site-navbar" role="banner" style="z-index:0">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon
              text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0"
                  placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2
              text-center">
              <div class="site-logo">
                <img style="width: 75px;height: 75px" ;"
                  src="/assets/images/troutstoplogo.png" alt="">
                <!-- <a href="index.html" class="js-logo-clone">Shoppers</a> -->
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="/userprofile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <!-- <span class="count">2</span> -->
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#"
                      class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">

            <li><a href="/">Home</a></li>

            <li class="has-children">
              <a href="about.html">About</a>
              <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
            </li>
            <li><a href="/shop">Shop</a></li>

            <li>
              <% if(user) {%>
                <a href="/logout">Logout</a>
              </li>
              <% }else{ %>
                <a href="/login">Login</a></li>
              <%}%>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span
                class="mx-2 mb-0">/</span> <strong
                class="text-black">Userprofile</strong></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="main-body">

          <!-- Breadcrumb -->
          <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav> -->
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center
                    text-center">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                      alt="Admin" class="rounded-circle"
                      width="150">
                    <div class="mt-3">
                      <h4>
                        <%=user.firstname%>
                          <%=user.lastname%>
                          </h4>
                          <!-- <p class="text-secondary mb-1">Full Stack Developer</p> -->
                          <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                          <!-- <button class="btn btn-primary">Follow</button> -->
                          <!-- <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between
                        align-items-center flex-wrap">
                        <a href="/order">
                          <h6 class="mb-0">My Orders</h6>
                        </a>
                        <!-- <span class="text-secondary">https://bootdey.com</span> -->
                      </li>
                      <li class="list-group-item d-flex justify-content-between
                        align-items-center flex-wrap">
                        <a href="#" id="address">
                          <h6 class="mb-0">Manage Addresses</h6>
                        </a>
                        <!-- <span class="text-secondary">bootdey</span> -->
                      </li>
                      <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">My coupons</h6> -->
                      <!-- <span class="text-secondary">@bootdey</span> -->
                      <!-- </li> -->
                      <li class="list-group-item d-flex justify-content-between
                        align-items-center flex-wrap">
                        <a href="/wishlist" id="address">
                          <h6 class="mb-0">My wishlist</h6>
                        </a>

                        <!-- <span class="text-secondary">bootdey</span> -->
                      </li>
                      <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"> -->
                      <!-- <h6 class="mb-0">Saved Payments</h6> -->
                      <!-- <span class="text-secondary">bootdey</span> -->
                      <!-- </li> -->
                    </ul>
                  </div>
                </div>
                <div class="col-md-8" id="details">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%=user.firstname%>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <%=user.lastname%>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%=user.email%>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                <%=user.phonenumber%>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%=user.gender%>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-12">
                                    <a class="btn btn-info" target="__blank"
                                      data-toggle="modal"
                                      onclick="editUser('<%= user.firstname%>','<%=user.lastname%>','<%=user.phonenumber%>','<%=user._id%>','<%=user.email%>','<%=user.gender%>')"
                                                href="#editdetails"
                                                style="z-index: 0">Edit</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>



                                    <div class="col-md-8" id="addressdetails"
                                      style="display: none;">
                                      <div class="card mb-3 "
                                        style="padding-top: 15px;">
                                        <% for( let x of address){ %>
                                          <div class="col-md-8" id="">
                                            <div class="card mb-3 ">
                                              <div class="card-body">
                                                <div class="row">
                                                  <!-- <div class="col-sm-3">
                            
                          </div> -->
                                                  <div class="col-l-12
                                                    text-secondary">
                                                    <h6 id="name">
                                                      <%= x.firstname%>
                                                        <%=x.lastname%>
                                                        </h6>
                                                        <br>
                                                        <span>
                                                          <%=x.housename%>,
                                                            <%=x.locality%>,<%=x.landmark%>,
                                                                <%=x.city%>,
                                                                </span>
                                                                <br>
                                                                <span>
                                                                  <%=x.state%> -
                                                                    <%=x.pincode%>
                                                                    </span>
                                                                    <br>
                                                                    <span>
                                                                      PH:<%=x.mobile%>
                                                                      </span>
                                                                      <div
                                                                        class="row">
                                                                        <div
                                                                          class="col-sm-12">
                                                                          <br>
                                                                          <a
                                                                            class="btn
                                                                            btn-info"
                                                                            target="__blank"
                                                                            data-toggle="modal"
                                                                            href="#exampleModalScrollable"
                                                                            style="z-index:
                                                                            0"
                                                                            onclick="getData('<%=x.firstname%>','<%=x.lastname%>','<%=x.housename%>',
                                                                                '<%=x.locality%>','<%=x.landmark%>','<%=x.city%>','<%=x.state%>','<%=x.pincode%>','<%=x.mobile%>','<%=x._id%>'
                                                                                              )">Edit</a>
                                                                                            <a
                                                                                              class="btn
                                                                                              btn-danger"
                                                                                              href="/deleteaddress?id=<%=x._id%>"
                                                                                              style="z-index:
                                                                                              0">Delete</a>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                              <%
                                                                                }
                                                                                %>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                        <form
                                                                          action="/editaddress"
                                                                          method="post">
                                                                          <div
                                                                            class="modal
                                                                            fade"
                                                                            id="exampleModalScrollable"
                                                                            tabindex="-1"
                                                                            role="dialog"
                                                                            aria-labelledby="exampleModalScrollableTitle"
                                                                            aria-hidden="true">
                                                                            <div
                                                                              class="modal-dialog
                                                                              modal-dialog-scrollable"
                                                                              role="document">
                                                                              <div
                                                                                class="modal-content">
                                                                                <div
                                                                                  class="modal-header">
                                                                                  <h5
                                                                                    class="modal-title"
                                                                                    id="exampleModalScrollableTitle">Edit
                                                                                    Address</h5>
                                                                                  <button
                                                                                    type="button"
                                                                                    class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                      aria-hidden="true">&times;</span>
                                                                                  </button>
                                                                                </div>
                                                                                <div
                                                                                  class="modal-body">
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_fname"
                                                                                        class="text-black">First
                                                                                        Name
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="fname"
                                                                                        name="firstname">
                                                                                    </div>
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_lname"
                                                                                        class="text-black">Last
                                                                                        Name
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="lname"
                                                                                        name="lastname">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-12">
                                                                                      <label
                                                                                        for="c_address"
                                                                                        class="text-black">Address
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="housename"
                                                                                        name="housename"
                                                                                        placeholder="House
                                                                                        name">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group">
                                                                                    <input
                                                                                      type="text"
                                                                                      class="form-control"
                                                                                      placeholder="Locality
                                                                                      (optional)"
                                                                                      name="locality"
                                                                                      id="locality">
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group">
                                                                                    <input
                                                                                      type="text"
                                                                                      class="form-control"
                                                                                      placeholder="Landmark
                                                                                      (optional)"
                                                                                      name="landmark"
                                                                                      id="landmark">
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_state_country"
                                                                                        class="text-black">City
                                                                                        /
                                                                                        Town
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="city"
                                                                                        name="city">
                                                                                    </div>
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_postal_zip"
                                                                                        class="text-black">Pincode
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="pincode"
                                                                                        name="pincode">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group
                                                                                    row
                                                                                    mb-5">
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_email_address"
                                                                                        class="text-black">State
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="state"
                                                                                        name="state">
                                                                                    </div>
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_phone"
                                                                                        class="text-black">Phone
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="phone"
                                                                                        name="phonenumber"
                                                                                        placeholder="Phone
                                                                                        Number">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group">
                                                                                    <input
                                                                                      type="hidden"
                                                                                      class="form-control"
                                                                                      placeholder=""
                                                                                      name="addressid"
                                                                                      id="addressid">
                                                                                  </div>
                                                                                </div>
                                                                                <div
                                                                                  class="modal-footer">
                                                                                  <button
                                                                                    type="button"
                                                                                    class="btn
                                                                                    btn-secondary"
                                                                                    data-dismiss="modal">Close</button>
                                                                                  <button
                                                                                    type="submit"
                                                                                    class="btn
                                                                                    btn-primary">Save
                                                                                    changes</button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </form>
                                                                        <form
                                                                          action="/editdetail"
                                                                          method="post">
                                                                          <div
                                                                            class="modal
                                                                            fade"
                                                                            id="editdetails"
                                                                            tabindex="-1"
                                                                            role="dialog"
                                                                            aria-labelledby="exampleModalScrollableTitle"
                                                                            aria-hidden="true">
                                                                            <div
                                                                              class="modal-dialog
                                                                              modal-dialog-scrollable"
                                                                              role="document">
                                                                              <div
                                                                                class="modal-content">
                                                                                <div
                                                                                  class="modal-header">
                                                                                  <h5
                                                                                    class="modal-title"
                                                                                    id="exampleModalScrollableTitle">Edit
                                                                                    details</h5>
                                                                                  <button
                                                                                    type="button"
                                                                                    class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                      aria-hidden="true">&times;</span>
                                                                                  </button>
                                                                                </div>
                                                                                <div
                                                                                  class="modal-body">
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_fname"
                                                                                        class="text-black">First
                                                                                        Name
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="firstname"
                                                                                        name="firstname">
                                                                                    </div>
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_lname"
                                                                                        class="text-black">Last
                                                                                        Name
                                                                                        <span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="lastname"
                                                                                        name="lastname">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-12">
                                                                                      <label
                                                                                        for="c_address"
                                                                                        class="text-black">Email<span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="email"
                                                                                        name="email">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group
                                                                                    row">
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_state_country"
                                                                                        class="text-black">Gender<span
                                                                                          class="text-danger">*</span></label>
                                                                                      <!-- <input type="text" class="form-control" id="city" name="city"> -->
                                                                                      <select
                                                                                        id="gender"
                                                                                        name="gender"
                                                                                        onchange="change_country(this.value)"
                                                                                        class="form-control">
                                                                                        <option
                                                                                          value="null">Gender</option>
                                                                                        <option
                                                                                          value="M">Male</option>
                                                                                        <option
                                                                                          value="F">Female</option>
                                                                                        <option
                                                                                          value="O">Others</option>
                                                                                      </select>
                                                                                    </div>
                                                                                    <div
                                                                                      class="col-md-6">
                                                                                      <label
                                                                                        for="c_postal_zip"
                                                                                        class="text-black">Mobile
                                                                                        number<span
                                                                                          class="text-danger">*</span></label>
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        id="mobilenumber"
                                                                                        name="mobilenumber">
                                                                                    </div>
                                                                                  </div>
                                                                                  <div
                                                                                    class="form-group">
                                                                                    <input
                                                                                      type="hidden"
                                                                                      class="form-control"
                                                                                      placeholder=""
                                                                                      name="addressid"
                                                                                      id="userid">
                                                                                  </div>
                                                                                </div>
                                                                                <div
                                                                                  class="modal-footer">
                                                                                  <button
                                                                                    type="button"
                                                                                    class="btn
                                                                                    btn-secondary"
                                                                                    data-dismiss="modal">Close</button>
                                                                                  <button
                                                                                    type="submit"
                                                                                    class="btn
                                                                                    btn-primary">Save
                                                                                    changes</button>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </form>
                                                                        <footer
                                                                          class="site-footer
                                                                          border-top">
                                                                          <div
                                                                            class="container">
                                                                            <div
                                                                              class="row">
                                                                              <div
                                                                                class="col-lg-6
                                                                                mb-5
                                                                                mb-lg-0">
                                                                                <div
                                                                                  class="row">
                                                                                  <div
                                                                                    class="col-md-12">
                                                                                    <h3
                                                                                      class="footer-heading
                                                                                      mb-4">Navigations</h3>
                                                                                  </div>
                                                                                  <div
                                                                                    class="col-md-6
                                                                                    col-lg-4">
                                                                                    <ul
                                                                                      class="list-unstyled">
                                                                                      <li><a
                                                                                          href="#">Sell
                                                                                          online</a></li>
                                                                                      <li><a
                                                                                          href="#">Features</a></li>
                                                                                      <li><a
                                                                                          href="#">Shopping
                                                                                          cart</a></li>
                                                                                      <li><a
                                                                                          href="#">Store
                                                                                          builder</a></li>
                                                                                    </ul>
                                                                                  </div>
                                                                                  <div
                                                                                    class="col-md-6
                                                                                    col-lg-4">
                                                                                    <ul
                                                                                      class="list-unstyled">
                                                                                      <li><a
                                                                                          href="#">Mobile
                                                                                          commerce</a></li>
                                                                                      <li><a
                                                                                          href="#">Dropshipping</a></li>
                                                                                      <li><a
                                                                                          href="#">Website
                                                                                          development</a></li>
                                                                                    </ul>
                                                                                  </div>
                                                                                  <div
                                                                                    class="col-md-6
                                                                                    col-lg-4">
                                                                                    <ul
                                                                                      class="list-unstyled">
                                                                                      <li><a
                                                                                          href="#">Point
                                                                                          of
                                                                                          sale</a></li>
                                                                                      <li><a
                                                                                          href="#">Hardware</a></li>
                                                                                      <li><a
                                                                                          href="#">Software</a></li>
                                                                                    </ul>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                              <div
                                                                                class="col-md-6
                                                                                col-lg-3
                                                                                mb-4
                                                                                mb-lg-0">
                                                                                <h3
                                                                                  class="footer-heading
                                                                                  mb-4">Promo</h3>
                                                                                <a
                                                                                  href="#"
                                                                                  class="block-6">
                                                                                  <img
                                                                                    src="/assets/images/rods.jpg""
                                                                                    alt="
                                                                                    Image
                                                                                    placeholder"
                                                                                    class="img-fluid
                                                                                    rounded
                                                                                    mb-4">
                                                                                  <h3
                                                                                    class="font-weight-light
                                                                                    mb-0">Finding
                                                                                    Your
                                                                                    Perfect
                                                                                    Shoes</h3>
                                                                                  <p>Promo
                                                                                    from
                                                                                    nuary
                                                                                    15
                                                                                    &mdash;
                                                                                    25,
                                                                                    2019</p>
                                                                                </a>
                                                                              </div>
                                                                              <div
                                                                                class="col-md-6
                                                                                col-lg-3">
                                                                                <div
                                                                                  class="block-5
                                                                                  mb-5">
                                                                                  <h3
                                                                                    class="footer-heading
                                                                                    mb-4">Contact
                                                                                    Info</h3>
                                                                                  <ul
                                                                                    class="list-unstyled">
                                                                                    <li
                                                                                      class="address">203
                                                                                      Fake
                                                                                      St.
                                                                                      Mountain
                                                                                      View,
                                                                                      San
                                                                                      Francisco,
                                                                                      California,
                                                                                      USA</li>
                                                                                    <li
                                                                                      class="phone"><a
                                                                                        href="tel://23923929210">+2
                                                                                        392
                                                                                        3929
                                                                                        210</a></li>
                                                                                    <li
                                                                                      class="email">emailaddress@domain.com</li>
                                                                                  </ul>
                                                                                </div>
                                                                                <div
                                                                                  class="block-7">
                                                                                  <form
                                                                                    action="#"
                                                                                    method="post">
                                                                                    <label
                                                                                      for="email_subscribe"
                                                                                      class="footer-heading">Subscribe</label>
                                                                                    <div
                                                                                      class="form-group">
                                                                                      <input
                                                                                        type="text"
                                                                                        class="form-control
                                                                                        py-4"
                                                                                        id="email_subscribe"
                                                                                        placeholder="Email">
                                                                                      <input
                                                                                        type="submit"
                                                                                        class="btn
                                                                                        btn-sm
                                                                                        btn-primary"
                                                                                        value="Send">
                                                                                    </div>
                                                                                  </form>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div
                                                                              class="row
                                                                              pt-5
                                                                              mt-5
                                                                              text-center">
                                                                              <div
                                                                                class="col-md-12">
                                                                                <p>
                                                                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                                  Copyright
                                                                                  &copy;
                                                                                  <script
                                                                                    data-cfasync="false"
                                                                                    src="/assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                                                                  <script>document.write(new Date().getFullYear());</script>
                                                                                  All
                                                                                  rights
                                                                                  reserved
                                                                                  |
                                                                                  This
                                                                                  template
                                                                                  is
                                                                                  made
                                                                                  with
                                                                                  <i
                                                                                    class="icon-heart"
                                                                                    aria-hidden="true"></i>
                                                                                  by
                                                                                  <a
                                                                                    href="https://colorlib.com"
                                                                                    target="_blank"
                                                                                    class="text-primary">Colorlib</a>
                                                                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                                </p>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </footer>
                                                                      </div>
                                                                    </div>
                                                                    <script>
    let a = document.getElementById('address');
    a.addEventListener("click", function () {
      document.getElementById("details").innerHTML = document.getElementById("addressdetails").innerHTML
    })

  </script>
                                                                    <script>
    function getData(fname, lname, housename, locality, landmark, city, pincode, state, phone, id) {
      $('#fname').val(fname);
      $('#lname').val(lname);
      $('#housename').val(housename);
      $('#locality').val(locality);
      $('#landmark').val(landmark);
      $('#city').val(city);
      $('#pincode').val(pincode);
      $('#state').val(state);
      $('#phone').val(phone);
      $('#addressid').val(id);
    }

    function editUser(firstname, lastname, phonenumber, id, email, gender) {
      $('#firstname').val(firstname);
      $('#lastname').val(lastname);
      $('#email').val(email);
      $('#mobilenumber').val(phonenumber);
      $('#userid').val(id);
      $('#gender').val(gender);
    }


  </script>
                                                                    <%-
                                                                      include('../layouts/footer.ejs')%>