<%- include('../layouts/header.ejs')%>

<div class="site-wrap">
  <!-- <header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"
          >
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input
                type="text"
                class="form-control border-0"
                placeholder="Search"
              />
            </form>
          </div>

          <div
            class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center"
          >
            <div class="site-logo">
              <img style="width: 75px;height: 75px";"
              src="/assets/images/troutstoplogo.png" alt="">
            </div>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li>
                  <a href="#"><span class="icon icon-person"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon icon-heart-o"></span></a>
                </li>
                <li>
                  <a href="cart.html" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">2</span>
                  </a>
                </li>
                <li class="d-inline-block d-md-none ml-md-0">
                  <a href="#" class="site-menu-toggle js-menu-toggle"
                    ><span class="icon-menu"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="/">Home</a></li>
          <li class="has-children">
            <a href="about.html">About</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
            </ul>
          </li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="#">Catalogue</a></li>
        </ul>
      </div>
    </nav>
  </header> -->
  <header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            <form action="" class="site-block-top-search">
              <span class="icon icon-search2"></span>
              <input type="text" class="form-control border-0" placeholder="Search">
            </form>
          </div>

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <img style="width: 75px;height: 75px";" src="/assets/images/troutstoplogo.png" alt="">
              <!-- <a href="index.html" class="js-logo-clone">Shoppers</a> -->
            </div>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li><a href="/userprofile"><span class="icon icon-person"></span></a></li>
                <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                <li>
                  <a href="/cart" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <!-- <span class="count">2</span> -->
                  </a>
                </li> 
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div> 
          </div>

        </div>
      </div>
    </div> 
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <!-- <li class="has-children active"> -->
           <li><a href="/">Home</a></li> 
            <!-- <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
              <li class="has-children">
                <a href="#">Sub Menu</a>
                <ul class="dropdown">
                  <li><a href="#">Menu One</a></li>
                  <li><a href="#">Menu Two</a></li>
                  <li><a href="#">Menu Three</a></li>
                </ul>
              </li>
            </ul> -->
          <!-- </li> -->
          <li class="has-children">
            <a href="about.html">About</a>
            <ul class="dropdown">
              <li><a href="#">Menu One</a></li>
              <li><a href="#">Menu Two</a></li>
              <li><a href="#">Menu Three</a></li>
            </ul>
          </li>
          <li><a href="/shop">Shop</a></li>
          <!-- <li><a href="#">Catalogue</a></li> -->
          <!-- <li><a href="/signup">Sign Up</a></li> -->
          <li> <% if(user) {%> 
            <a href="/logout">Logout</a></li>
          <% }else{ %>
              <a href="/login">Login</a></li>
            <%}%> </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Wishlist</strong>
        </div>
      </div>
    </div>
  </div>
  <% if(items.length !== 0) { %>
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <!-- <th class="product-quantity">Quantity</th> -->
                  <!-- <th class="product-total">Total</th> -->
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% for(let key of items){ %>
                <tr>
                  <td class="product-thumbnail">
                    <img
                      src="uploads/<%=key.productId.images%>"
                      alt="Image"
                      class="img-fluid"
                    />
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black"><a href="/shop-single?id=<%=key.productId._id%>"><%= key.productId.name %></a></h2>
                  </td>
                  <td>Rs.<%= key.productId.price %></td>
                  <td>
                    <a
                      href="/deletewishlistitem?id=<%= key.productId._id%>"
                      class="btn btn-primary btn-sm"
                      >X</a
                    >
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      
    </div>
  </div>
  <% }else{ %>

  <style>
    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

    body {
      background-color: #eee;
      font-family: "Calibri", sans-serif !important;
    }
    .card {
      margin-bottom: 30px;
      border: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      letter-spacing: 0.5px;
      border-radius: 8px;
      -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
      box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    }

    .card .card-header {
      background-color: #fff;
      border-bottom: none;
      padding: 24px;
      border-bottom: 1px solid #f6f7fb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card .card-body {
      padding: 30px;
      background-color: transparent;
    }

    .btn-primary,
    .btn-primary.disabled,
    .btn-primary:disabled {
      background-color: #4466f2 !important;
      border-color: #4466f2 !important;
    }
  </style>
  <div class="container-fluid mt-100">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <!-- <h5>Cart</h5> -->
          </div>
          <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center">
              <img
                src="https://i.imgur.com/dCdflKN.png"
                width="130"
                height="130"
                class="img-fluid mb-4 mr-3"
              />
              <h3><strong>Your Cart is Empty</strong></h3>
              <h4>Add something to make me happy :)</h4>
              <a
                href="#"
                class="btn btn-primary cart-btn-transform m-3"
                data-abc="true"
                >continue shopping</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% } %>

  <footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img
              src="images/hero_1.jpg"
              alt="Image placeholder"
              class="img-fluid rounded mb-4"
            />
            <h3 class="font-weight-light mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">
                203 Fake St. Mountain View, San Francisco, California, USA
              </li>
              <li class="phone">
                <a href="tel://23923929210">+2 392 3929 210</a>
              </li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading"
                >Subscribe</label
              >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control py-4"
                  id="email_subscribe"
                  placeholder="Email"
                />
                <input
                  type="submit"
                  class="btn btn-sm btn-primary"
                  value="Send"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script
              data-cfasync="false"
              src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
            ></script>
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank" class="text-primary"
              >Colorlib</a
            >
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<script>
  function decQuant(e) {
    const itemId = e;
    const quantityInput = document.getElementById(e);
    const currentQuantity = parseInt(quantityInput.value, 10);
    // const newQuantity = parseInt(quantityInput.value, 10);

    const newQuantity = Math.max(currentQuantity - 1, 1);
    console.log(newQuantity);
    console.log(itemId);
    updateCartItem(itemId, newQuantity);
  }

  function incQuant(e) {
    const itemId = e;
    const quantityInput = document.getElementById(e);
    const currentQuantity = parseInt(quantityInput.value, 10);
    // const newQuantity = parseInt(quantityInput.value, 10);

    const newQuantity = currentQuantity + 1;
    console.log(newQuantity);
    console.log(itemId);
    updateCartItem(itemId, newQuantity);
  }

  function updateCartItem(itemId, newQuantity) {
    //   fetch('/cart/update', {
    //     method: 'POST',
    //     headers: {
    //       'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({
    //       itemId: itemId,
    //       newQuantity: newQuantity
    //     })
    //   })
    //   .then(response => {
    //     if (!response.ok) {
    //       throw new Error('Network response was not ok');
    //     }

    //     return response.json();
    //   })
    //   .then(data => {
    //     // console.log(data.price);
    // document.getElementById('price').innerHTML = data.price
    // document.getElementById('totalprice').innerHTML = data.totalPrice

    //   })
    //   .catch
    // }

    $.ajax({
      url: "/cart/update",
      type: "POST",
      data: { itemId: itemId, newQuantity: newQuantity },
      success: function (data) {
        console.log(data);
        document.getElementById(itemId + "-price").innerHTML =
          data.price * newQuantity;
        document.getElementById("totalprice").innerHTML = data.total;
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus, errorThrown);
      },
    });
  }
</script>

<%- include('../layouts/footer.ejs')%>
